{% load staticfiles %}
<head>
	{% block head %}
	{% endblock %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
	<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
</head>
<body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
	<div id="root">
		<header>
			<nav>
				<a class="nav-link" href="/">Blog</a>
				<a class="nav-link" href="/">Create your own blog</a>
				<a class="nav-link" href="/">About</a>
				<a class="nav-link" href="/">Contact</a>
				<a class="nav-link" href="/">Contact</a>
			</nav>
		</header>
		<section>
			{% block section %}
			{% endblock %}
		</section>
		<article>
			{% block article %}
			{% endblock %}
		</article>
		<aside>
			There could be ad, but I'm not a dick.
		</aside>
		<footer>
			This site was made with love and Django!
		</footer>
	</div>
</body>
