{% extends "blog/base.html" %}

{% block head %}
<title>Blog - simplest blogging site.</title>
{% endblock %}

{% block section %}
	<div>
		<span>Blog is the simplest and most beautiful blogging site.<br>Enjoy.</span>
	</div>
{% endblock %}